* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
}

.item {
  border: solid 1px;
  padding: 30px;
  margin: 5px;
  width: 24%;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}
